<!DOCTYPE html>
<html>
<head>
    <title>Welcome to NASCAR API</title>
</head>
<body>
    <p>Welcome to the NASCAR API!</p>
    <p>Use /track?state=state to find NASCAR tracks by state.</p>
    <p>Use /season/cup?year=year to find Cup season schedule by year.</p>
    <p>The admin can use /post/tracks?name=name&length=length&type=type&state=state to post racetracks to the db.</p>
    <p>The admin can use /post/races?track_id=track_id&name=name&series=series&date=date&winner=winner to post races
        in a particular season schedule to the db.</p>
</body>
</html>