<!DOCTYPE html>
<html>
<head>
    <title>Welcome to NASCAR API</title>
</head>
<body>
    <p>Welcome to the NASCAR API!</p>
    <p>Use /tracks?state=state to find NASCAR tracks by state
        <br>(all tracks will be listed if state is left blank)</p>
    <p>Use /season?series=series&year=YYYY to find season schedule by year. Eligible series values: 'cup', 'xfinity'
        <br>(series will default to 'cup' if left blank, and
        year will default to the current year if left blank).</p>
    <p>The admin can use /post/tracks?name=name&length=length&type=type&state=state to post racetracks to the database.</p>
    <p>The admin can use /post/races?track_id=track_id&name=name&series=series&date=date&winner=winner to post races
        in a particular season schedule to the database.</p>
</body>
</html>